<div class="modal fade" id="changePass" tabindex="-1" role="dialog" aria-labelledby="changePassLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier le mot de passe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(formPassword) }}
                {{ form_rest(formPassword) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-success" id="envoyer" class="btn btn-md btn-kitn" name="Envoyer"
                        value="Enregistrer">Enregistrer
                </button>
            </div>
            {{ form_end(formPassword) }}
        </div>
    </div>
</div>