{% extends 'base.html.twig' %}

{% block title %}PhotoShare - Inscription{% endblock %}

{% block body %}
    <div class="container mt-4">

        <h1 class="h3 mb-3 font-weight-normal">Veuillez vous inscire</h1>
        {{form_start(form)}}

        {{ form_widget(form) }}
        <button class="btn btn-success" type="submit">
            S'inscrire
        </button>
        {{ form_end(form) }}

    </div>
{% endblock %}