{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center display-4 text-secondary">Bienvenue sur PhotoShare</h1>

    <div class="carousel">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="3000">
                    <img src="./images/news.jpg" class="d-block w-100 pic_carousel" alt="img1">
                </div>
                <div class="carousel-item" data-interval="2000">
                    <img src="./images/screen.png" class="d-block w-100 pic_carousel" alt="img2">
                </div>
                <div class="carousel-item">
                    <img src="./images/shot.png" class="d-block w-100 pic_carousel" alt="img3">
                </div>
            </div>
            <a class="carousel-control-prev bg-secondary" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next bg-secondary" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    {% if app.user %}

        {% if allFriends|length > 0 %}
            <h3 class="text-info mt-2">Mes amis</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Pseudo</th>
                </tr>
                </thead>
                {% for friendship in allFriends %}

                    <tbody>
                    <tr>
                        <td>{{ friendship.friend.email }}</td>
                    </tr>

                    </tbody>

                {% endfor %}
            </table>
        {% else %}
            <p>Vous avez acutellement aucun ami</p>
        {% endif %}

        <p>Pour un ajouter un amis veuillez, renseigner son adresse mail : </p>


        <form method="post" action="{{ path('friend_create') }}"
              class="element">
            <input type="hidden" name="_method" value="POST">
            <input type="email" name="email" placeholder="Votre email">

            <button class="btn btn-success">Ajouter</button>
        </form>


    {% else %}
        <div class="jumbotron">
            <p>Pour utiliser notre plateforme veuillez vous connecter ou vous inscrire !</p>
        </div>
    {% endif %}
{% endblock %}
