<!-- Modal Album -->
<div class="modal fade modal-doc" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sélectionnez des images parmi vos photos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% for photo in app.user.myPhotos %}
                    {% if not (photo.id in photoIds) %}
                        <div class="photo thumbnail" data-id="{{ photo.id }}">
                            <img src="{{ "../uploads/img/" ~ photo.imageName }}">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="modal-footer">
                <span id="photos-selected"></span>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" id="create-album" disabled>Ajouter</button>
            </div>
        </div>
    </div>
</div>
