{% extends 'base.html.twig' %}

{% block title %}PhotoShare - Photos{% endblock %}

{% block body %}
    <h1 class="text-center display-4 text-secondary">Photos</h1>
    <div class="block-2-column">
        <div class="container-photo">
            <h2>Mes Photos</h2>
            <p class="text-right">
                <a class="btn btn-secondary text" href="{{ path('album_create') }}">Ajouter une photo</a>
            </p>
            <div class="photos">
                <img src="./images/news.jpg" class="img-fluid show_pic" alt="img1" data-toggle="modal" data-target="#showPictureModal">
                <img src="./images/screen.png" class="img-fluid show_pic" alt="img1" data-toggle="modal" data-target="#showPictureModal">
                <img src="./images/shot.png" class="img-fluid show_pic" alt="img1" data-toggle="modal" data-target="#showPictureModal">
            </div>
            <p class="text-right">
                <a class="btn btn-secondary text" href="{{ path('album_create') }}">Créer un album à partir des photos sélectionnées</a>
            </p>

        </div>
        <div class="container-photo">
            <h2>Photos partagées </h2>
            <div class="photos">
                <img src="./images/news.jpg" class="img-fluid show_pic" alt="img1" data-toggle="modal" data-target="#showPictureModal">
                <img src="./images/screen.png" class="img-fluid show_pic" alt="img1" data-toggle="modal" data-target="#showPictureModal">
                <img src="./images/shot.png" class="img-fluid show_pic" alt="img1" data-toggle="modal" data-target="#showPictureModal">
            </div>
            <p class="text-right">
                <a class="btn btn-secondary text" href="{{ path('album_create') }}">Ajouter à mes photos</a>
            </p>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="showPictureModal" tabindex="-1" role="dialog" aria-labelledby="showPictureModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="showPictureModalLabel">Titre de l'image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="./images/news.jpg" class="img-fluid full_pic" alt="img1">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
