{% extends 'base.html.twig' %}

{% block title %}Hello PhotoController!{% endblock %}

{% block body %}
    <h1 class="text-center display-4 text-secondary">Photos</h1>
    <div class="block-2-column">
        <div class="container-photo">
            <h2>Mes Photos</h2>

        </div>

        <div class="container-photo">
            <h2>Photos partagés </h2>

        </div>
    </div>
{% endblock %}
