{% extends 'base.html.twig' %}

{% block title %}PhotoShare - Nouvel Album{% endblock %}

{% block body %}

    <h1 class="text-center display-4 text-secondary">Créer un album</h1>

    {{form_start(form)}}

    {{ form_widget(form) }}
    <button class="btn btn-success" type="submit">
        Créer l'album
    </button>
    {{ form_end(form) }}

{% endblock %}