{% extends 'base.html.twig' %}

{% block title %}PhotoShare - Album{% endblock %}

{% block body %}
    <h1 class="text-center display-4 text-secondary">Albums</h1>

    <div class="block-2-column">
        <div class="container-photo">
            <h2>Mes Albums</h2>
            <p class="text-right">
                <a class="btn btn-secondary text" href="{{ path('album_create') }}">Créer un album</a>
            </p>

        </div>

        <div class="container-photo">
            <h2>Mes Albums partagés</h2>

        </div>
    </div>
{% endblock %}
