{% extends 'base.html.twig' %}

{% block title %}PhotoShare - Nouvel Album{% endblock %}

{% block body %}

    <h1 class="text-center display-4 text-secondary">Mon Ablum</h1>
    <h2>Titre : Mon Album / {{album.title}}</h2>


{% endblock %}
